<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <!-- 외부 CSS 파일 연결 -->
</head>

<body>
    <div class="flex-container">
        <img src="{% static 'images/영화1.png' %}" alt="귀칼"
            style="width: 200px; height: auto; float: left; margin-right: 20px;" />
        <div class="text-content" style="height: 300px; width: 500px;float: left; display: flex;">
            <h2>귀멸의 칼날</h2>
            <p>영화 '귀멸의 칼날: 인연의 기적, 그리고 합동 강화 훈련으로'는 '탄지로'와 상현 4 '한텐구'의 목숨을 건 혈투와, '무잔'과의 최종 국면을 앞둔 귀살대원들의 마지막 훈련을 그린 작품.
            </p>
        </div>
    </div>
</body>

</html>